@import "tailwindcss";
@import "tw-animate-css";

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

:root {
    --background: #f8f5f2;
    --surface: #fffffe;
    --foreground: #232323;
    --primary: #078080;
    --primary-fg: #fffffe;
    --secondary: #f45d48;
    --secondary-fg: #fffffe;
    --tertiary: #f4caa1;
    --tertiary-fg: #fffffe;
    --border: #383838;
    --shadow: #000000;
    --success: #10b981;
    --success-fg: #fffffe;
    --warning: #f59e0b;
    --warning-fg: #fffffe;
    --error: #ef4444;
    --error-fg: #fffffe;

    /* crepe theme color */
    --crepe-surface: #f7f7f7;
    --crepe-surface-low: #ededed;
    --crepe-on-surface: #1c1c1c;
    --crepe-on-surface-variant: #4d4d4d;
    --crepe-outline: #a8a8a8;
    --crepe-primary: #333333;
    --crepe-secondary: #cfcfcf;
    --crepe-on-secondary: #000000;
    --crepe-inverse: #f0f0f0;
    --crepe-on-inverse: #1a1a1a;
    --crepe-inline-code: #ba1a1a;
    --crepe-error: #ba1a1a;
    --crepe-hover: #e0e0e0;
    --crepe-selected: #d5d5d5;
    --crepe-inline-area: #cacaca;
    --crepe-shadow-1: rgba(0, 0, 0, 0.15);
    --crepe-shadow-2: rgba(0, 0, 0, 0.3);
    /* end crepe theme color */

    --sidebar: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
    --background: #222730;
    --surface: #222831;
    --foreground: #eeeeee;
    --primary: #50c4cf;
    --primary-fg: #fffffe;
    --secondary: #994ff3;
    --secondary-fg: #fffffe;
    --tertiary: #fbdd74;
    --tertiary-fg: #fffffe;
    --border: #1a1919;
    --shadow: #000000;
    --success: #34d399;
    --success-fg: #fffffe;
    --warning: #fbbf24;
    --warning-fg: #fffffe;
    --error: #f87171;
    --error-fg: #fffffe;

    /* crepe theme color */
    --crepe-surface: #18120b;
    --crepe-surface-low: #201b13;
    --crepe-on-surface: #ede0d4;
    --crepe-on-surface-variant: #d3c4b4;
    --crepe-outline: #9c8f80;
    --crepe-primary: #f4bd6f;
    --crepe-secondary: #56442a;
    --crepe-on-secondary: #fbdebc;
    --crepe-inverse: #ede0d4;
    --crepe-on-inverse: #362f27;
    --crepe-inline-code: #ffb4ab;
    --crepe-error: #ffb4ab;
    --crepe-hover: #251f17;
    --crepe-selected: #3b342b;
    --crepe-inline-area: #3f3830;
    --crepe-shadow-1: rgba(255, 255, 255, 0.3);
    --crepe-shadow-2: rgba(255, 255, 255, 0.15);
    /* end crepe theme color */

    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
    --color-surface: var(--surface);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-fg: var(--primary-fg);
    --color-secondary: var(--secondary);
    --color-secondary-fg: var(--secondary-fg);
    --color-tertiary: var(--tertiary);
    --color-tertiary-fg: var(--tertiary-fg);
    --color-border: var(--border);
    --color-shadow: var(--shadow);
    --color-success: var(--success);
    --color-success-fg: var(--success-fg);
    --color-warning: var(--warning);
    --color-warning-fg: var(--warning-fg);
    --color-error: var(--error);
    --color-error-fg: var(--error-fg);
    --font-mono: var(--font-lxgw-wenkai-mono-tc);

    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-mono), Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

@layer base {
    /* * {
        @apply border-border outline-ring/50;
    } */
    body {
        @apply bg-background text-foreground;
    }
}
