@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --background: #faeee7;
    --background-1: #fffffe;
    --foreground: #33272a;
    --primary: #ffa4a4;
    --secondary: #ffc6c7;
    --tertiary: #c3f0ca;
    --border: #383838;
    --card-bg: #fffffe;
    --card-fg: #33272a;

    /* crepe theme color */
    --crepe-surface: #f7f7f7;
    --crepe-surface-low: #ededed;
    --crepe-on-surface: #1c1c1c;
    --crepe-on-surface-variant: #4d4d4d;
    --crepe-outline: #a8a8a8;
    --crepe-primary: #333333;
    --crepe-secondary: #cfcfcf;
    --crepe-on-secondary: #000000;
    --crepe-inverse: #f0f0f0;
    --crepe-on-inverse: #1a1a1a;
    --crepe-inline-code: #ba1a1a;
    --crepe-error: #ba1a1a;
    --crepe-hover: #e0e0e0;
    --crepe-selected: #d5d5d5;
    --crepe-inline-area: #cacaca;
    --crepe-shadow-1: rgba(0, 0, 0, 0.15);
    --crepe-shadow-2: rgba(0, 0, 0, 0.3);
    /* end crepe theme color */
}

.dark {
    --background: #16161a;
    --background-1: #242629;
    --foreground: #fffffe;
    --primary: #7f5af0;
    --secondary: #72757e;
    --tertiary: #2cb67d;
    --border: #8a91a0;
    --card-bg: #fffffe;
    --card-fg: #33272a;

    /* crepe theme color */
    --crepe-surface: #18120b;
    --crepe-surface-low: #201b13;
    --crepe-on-surface: #ede0d4;
    --crepe-on-surface-variant: #d3c4b4;
    --crepe-outline: #9c8f80;
    --crepe-primary: #f4bd6f;
    --crepe-secondary: #56442a;
    --crepe-on-secondary: #fbdebc;
    --crepe-inverse: #ede0d4;
    --crepe-on-inverse: #362f27;
    --crepe-inline-code: #ffb4ab;
    --crepe-error: #ffb4ab;
    --crepe-hover: #251f17;
    --crepe-selected: #3b342b;
    --crepe-inline-area: #3f3830;
    --crepe-shadow-1: rgba(255, 255, 255, 0.3);
    --crepe-shadow-2: rgba(255, 255, 255, 0.15);
    /* end crepe theme color */
}

@theme inline {
    --color-background-1: var(--background-1);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
    --color-border: var(--border);
    --color-card-bg: var(--card-bg);
    --color-card-fg: var(--card-fg);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}
